.DS_Store
wp-cli.local.yml
node_modules/
vendor/
*.zip
*.tar.gz
*.swp
*.log

### Codeception ###
/codeception.yml
/tests/*.suite.yml
/tests/_data/tmp/
/tests/_output/*
/tests/_support/_generated/

### PhpStorm ###
/.idea/
